.recipeAddStep {
  &__title {
    font-size: 2.4rem;
  }

  &__context {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    font-size: 1.8rem;
    resize: none;
    border-radius: 5px;
    border-color: #ccc;
  }

  &__contain {
    margin-bottom: 40px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
    min-height: 80px;
    padding-bottom: 20px;
    background-color: grey;
  }
}
