.recipeAdd {
  margin-top: 50px;
  margin-bottom: 100px;
  &__title {
    font-size: 4rem;
    margin-bottom: 20px;
  }

  &__form {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex: 2;
  }

  &__right {
    flex: 3;
  }

  &__name {
    font-size: 2rem;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__nameinput {
    font-size: 1.8rem;
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 15px;
  }

  &__btngroup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    min-width: 100px;
    height: 40px;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #fff;
    }
    &--1 {
      background-color: rgb(238, 238, 113);
      border-color: rgb(238, 238, 113);
      &:hover {
        color: rgb(238, 238, 113);
      }
    }

    &--2 {
      background-color: rgb(18, 253, 144);
      border-color: rgb(18, 253, 144);
      &:hover {
        color: rgb(18, 253, 144);
      }
    }
  }
}
