@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap&subset=vietnamese");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
  color: #333;
}

input {
  font-family: inherit;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
